/* שכבת רקע כהה מאחורי החלונית */
.alertBackdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* מעל הכל */
  padding: 16px;
  box-sizing: border-box;
}

/* הקופסה עצמה */
.alertBox {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 24px 48px rgba(0,0,0,0.2);
  border: 1px solid #e5e7eb;

  width: 100%;
  max-width: 340px;

  padding: 20px 24px;
  font-family: calibri, sans-serif;
  color: #1f2937;
  text-align: center;
  line-height: 1.5;
}

/* כותרת */
.alertTitle {
  font-size: 1rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 8px;
  line-height: 1.3;
}

/* הודעת טקסט */
.alertMessage {
  font-size: 0.9rem;
  color: #374151;
  margin-bottom: 16px;
  white-space: pre-line;
}

/* כפתור אישור */
.alertButton {
  width: 100%;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg,#10b981 0%, #059669 100%);
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 12px;
  cursor: pointer;
  font-family: inherit;
  line-height: 1.3;
}

.alertButton:hover {
  filter: brightness(1.05);
}


.alertButton-no {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: rgb(201, 104, 104) !important;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 12px;
  cursor: pointer;
  font-family: inherit;
  line-height: 1.3;
}
.confirm-buttons{
  display: flex;
  justify-content: space-around;
  gap:4vw;
}