.modal{
    position: fixed;
    top: 17vh;
    bottom: 1vh;
    left:15vw;
    right:15vw;
    margin:1rem;
    padding: 1rem;
    border-radius: 10px;
    z-index: 100;
    background-color: #fff;
}
 
.modal .result{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal .resultTitle{
    font-family: 'calibri';
    font-weight: bold;
    font-size: 2rem;        /* ~32px */
    line-height: 1.2;
    color: #a74f23;
    margin: 0 0 8px;
}

.modal .resultSecondTitle{
    font-family: 'calibri';
    font-weight: 700;
    font-size: 1rem;        /* ~32px */
    line-height: 1.2;
    color: #040404;
    margin: 0 0 8px;
}

.modal .resultLink{
    font-family: 'calibri';
    font-weight: 700;
    font-size: 1rem;        /* ~32px */
    line-height: 1.2;
    color: #060606;
    margin: 0 0 8px;
}

