.modal{
    position: fixed;
    top: 17vh;
    bottom: 1vh;
    left:15vw;
    right:15vw;
    margin:1rem;
    padding: 1rem;
    border-radius: 10px;
    z-index: 100;
    background-color: #fff;
}
 
.modal .result{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

