.ngo-dashboard-container{
    display: flex;
    background-color: #f7f9fc;
    width: 100%;
    margin-top: 5px;
    max-height: calc(100dvh - 79px);
    overflow-y: auto;
}
.ngo-dashboard-container > div{
  width: 100%;
}

.ngo-campaigns-container {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

/* עיצוב קבוע לדשבורד */
.dashboard-content {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin-top: 15px;
  transition: all 0.4s ease-in-out;
}

/* שינוי גודל לפי הסעיף הנבחר */
.dashboard-content.small {
  transform: scale(0.95);
  opacity: 0.95;
}

.dashboard-content.medium {
  transform: scale(1);
  opacity: 1;
}

.dashboard-content.large {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}
