.ngo-dashboard-container{
    display: flex;
    background-color: #f7f9fc;
    width: 100%;
    margin-top: 5px;
}

.ngo-campaigns-container{
    display: flex;
    flex-direction: column;
    gap:20px;
}