.image-container{
    display: flex;
    flex-wrap: wrap;
}
.image{
    cursor: pointer;
    width: 100px;
    height: 70px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.image:hover {
    border: 2px ridge #fff;
}

.image-tile {
    display: flex;
    align-items: start;
}

.remove-image-button {
    position: relative;
    left: 17px;
    cursor: pointer;
    font-size: 0.9em;
    background-color: #777;
    opacity: 0.5;
    border: 5px;
}

.remove-image-button:hover {
    
    opacity: 0.9;
}

.campaign-edit-buttons{
    display: flex;
    justify-content: space-around;
    gap: 5vw;
}