/* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Playpen+Sans+Hebrew:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Fredoka:wght@300..700&family=M+PLUS+1p&family=M+PLUS+Rounded+1c&family=Rubik+Doodle+Shadow&family=Rubik+Spray+Paint&family=Suez+One&family=Varela+Round&display=swap');

#root {
  max-width: 1280px;
  margin: 0 0;
  
}



