@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  
}
div{
  
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e4ede9;
  /* background: #fffcff; */
  /* background: linear-gradient(135deg, #e4ede9, #f9faf9); */
  /* background: linear-gradient(135deg, #8fa98f, #3b6978);  */
  /* overflow-y: hidden; */
  overflow-x: clip;
}

