@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  
}
div{
  
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f0f6f3;
 overflow-x: clip;
}

